.lt-history {
    padding: 10px;
    font-size: 14px;
    color: #666;
}
.lt-history .content{
    border: 1px dashed red;
    border-bottom: none;
}
.content li{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px dashed red;
}
.content li a{
    padding: 0 10px;
}
.content li i{
    height: 30px;
    line-height: 30px;
}